@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none !important;
}
a {
	text-decoration: none !important;
	color: #000 !important;
}

#model-mobile{
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    //background: linear-gradient(45deg, rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url(../img/background.jpg) center top no-repeat;
    background-size: cover;
    position: relative;
}

.container .logo {
    position: absolute;
    left: 30px;
    top: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.container .logo h1 {
    font-size: 40px;
}
.container .logo h5 {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.container .content-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FD5266;
}
.container .content-mobile .buttons {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container .content-mobile .buttons .btn {
    width: auto;
    display: flex; 
    align-items: center; justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: 10px;
    color: #FFF;
    background: #FD5266;
    border-radius: 5px;
    border: 0;
    font-size: 26px;
    cursor: pointer;
    border-radius: 100px;
    transition: .3s;
}

.container .content-mobile .buttons .btn:hover {
    background: rgb(235, 70, 89);
}

.container .content-mobile .buttons .btn i {
    margin-left: 15px;
    float: right;
}
.font40{
    font-size: 75px;
}
.font30{
    font-size: 30px;
}


/*   DESKTOP */



.content-desktop{
    display: flex;
    height: 100vh;
}

.logo-desk{
    position: absolute; 
    margin: 30px;
    text-align: center;
    color: #FD5266;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


.container-icon-social{
    width: 200px; padding: 6px; background: #FD5266; margin: 0px 0px 5px; display: flex; align-items: center; border-top-right-radius: 100px; border-bottom-right-radius: 100px; transition: .5s; margin-left: -145px; box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.container-icon-social:hover{
    margin-left: 0px;
}

.container-icon-seguros{
    width: 400px; padding: 6px; background: #FD5266; margin: 0px 0px 5px; display: flex; align-items: center; border-top-left-radius: 100px; border-bottom-left-radius: 100px; transition: .5s; margin-left: 50px; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); 
}

.container-icon-seguros:hover{
    margin-left: -60px;
}

.button-header{
    display: flex; flex: 1; padding: 10px; justify-content: center; align-items: center; border-right: 1px solid #eceff1; cursor: pointer; transition: .2s;  color: #FD5266;
}

.button-header:hover{
    background: #FD5266;
    color: white;
}

#model-desktop{
   
}


.container-1{
    flex: 1; height: 100%; display: flex; 
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: right 0px top 10px;
    
}

.container-1-1{
    display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: right 0px top 10px;
}

.container-1-2-1{
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 99999;
    position: relative;
    width: 100%;
    height: 100%;
}

.container-card-1{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);   
    transition: .5s;
    cursor: pointer;
    position: relative;
}

.container-card-1:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}
.container-card-2{
     transition: .5s;
     cursor: pointer;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2); 
}
.container-card-2:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container-card-3{
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2); 
}
.container-card-3:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


p{
    margin-top: 20px;
}

@media (max-width: 800px) {
    
    html, body, #root {
      height: 100%;
      overflow: auto;
    }
    
    .font40{
        font-size: 25px; margin-top: 15%;
    }
    .font30{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px
    }
    .container .content-mobile {
        padding-top: 0px;
    }
    
    #model-desktop{
        display: none;
    }
    
    .logo{
        margin-top: -20px;
        margin-left: -20px;
    }
    .container .logo h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .container .logo h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    .container .content-mobile .buttons .btn {
        width: auto;
        display: flex; 
        align-items: center; justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        margin: 10px;
        color: #FFF;
        background: #FD5266;
        border-radius: 5px;
        border: 0;
        font-size: 20px;
        cursor: pointer;
        border-radius: 100px;
        transition: .3s;
    }
    #model-mobile{
        display: flex;
    }
    
    
}
